[mysqld]
# Path to Galera library
wsrep_provider=/usr/local/mysql/lib/libgalera_smm.so

# Addresses of nodes in cluster
wsrep_cluster_address=gcomm://{{#mysql.nodes}}{{ip}},{{/mysql.nodes}}

# Node's network address, this address should be also included in
# wsrep_cluster_address addresses list
wsrep_node_address={{local-ipv4}}

# SST method
wsrep_sst_method=rsync

# Cluster name
wsrep_cluster_name=tripleo-{{mysql.cluster_name}}

{{#mysql.cluster_key}}
# Security options
wsrep_provider_options="gmcast.listen_addr=tcp://{{local-ipv4}}:4567; socket.ssl_cert=/etc/ssl/mysql/from-heat.crt; socket.ssl_key=/etc/ssl/mysql/from-heat.key"
{{/mysql.cluster_key}}
