*.pyc
*.qcow2
elements/seed-stack-config/local.json

# Unit test / coverage reports
.stestr
.tox
.venv

# Packages
*.egg-info
dist
build

# pbr generates these
AUTHORS
ChangeLog

# Editors
*.sw?
*~

# Files created by releasenotes build
releasenotes/build
