global
  chroot  /var/lib/haproxy
  daemon
  group  haproxy
  maxconn  4000
  pidfile  /var/run/haproxy.pid
  user  haproxy

defaults
  log  global
  maxconn  8000
  retries  3
  timeout  http-request 10s
  timeout  queue 1m
  timeout  connect 10s
  timeout  client 1m
  timeout  server 1m
  timeout  check 10s

{{#haproxy}}
{{#services}}
listen {{name}}
  {{#proxy_port}}
  bind {{proxy_ip}}:{{proxy_port}}
  {{/proxy_port}}
  {{#net_binds}}
  bind {{ip}}:{{port}}
  {{/net_binds}}
  mode tcp
  {{#balance}}
  balance {{balance}}
  {{/balance}}
  {{^balance}}
  balance source
  {{/balance}}
  option tcpka
  option tcplog
  {{#nodes}}
  server {{name}} {{ip}}:{{port}} check inter 2000 rise 2 fall 5
  {{/nodes}}
{{/services}}

{{/haproxy}}

{{^haproxy.stats.disabled}}
listen haproxy.stats :{{#stats.port}}{{stats.port}}{{/stats.port}}{{^stats.port}}1993{{/stats.port}}
  stats enable
  stats uri {{#stats.uri}}{{stats.uri}}{{/stats.uri}}{{^stats.uri}}/{{/stats.uri}}
{{/haproxy.stats.disabled}}
