[client]
port                           = 3306
socket                         = /var/run/mysqld/mysqld.sock

[mysqld]

# GENERAL #
user                           = mysql
default_storage_engine         = InnoDB
socket                         = /var/run/mysqld/mysqld.sock
pid_file                       = /var/run/mysqld/mysqld.pid
{{#mysql.bind_address}}
bind-address                   = {{.}}
{{/mysql.bind_address}}
{{^mysql.bind_address}}
{{#mysql.local_bind}}
bind-address                   = {{local-ipv4}}
{{/mysql.local_bind}}
{{^mysql.local_bind}}
bind-address                   = 0.0.0.0
{{/mysql.local_bind}}
{{/mysql.bind_address}}

# UTF8 #
character-set-client-handshake = FALSE
character-set-server           = utf8
collation-server               = utf8_unicode_ci

# MyISAM #
key_buffer_size                = 32M
myisam_recover                 = FORCE,BACKUP

# SAFETY #
max_allowed_packet             = 16M
max_connect_errors             = 1000000
skip_name_resolve
sysdate_is_now                 = 1
innodb                         = FORCE
innodb_strict_mode             = 1

# DATA STORAGE #
datadir                        = /mnt/state/var/lib/mysql/

# CACHES AND LIMITS #
tmp_table_size                 = 32M
max_heap_table_size            = 32M
query_cache_type               = 0
query_cache_size               = 0
max_connections                = 500
thread_cache_size              = 50
open_files_limit               = 65535
table_definition_cache         = 4096
table_open_cache               = 4096

# INNODB #
innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 2
innodb_log_file_size           = 64M
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table          = 1
{{#mysql.innodb_buffer_pool_size}}
innodb_buffer_pool_size        = {{mysql.innodb_buffer_pool_size}}M
{{/mysql.innodb_buffer_pool_size}}
{{^mysql.innodb_buffer_pool_size}}
innodb_buffer_pool_size        = 100M
{{/mysql.innodb_buffer_pool_size}}
# TODO
# innodb_read_io_threads
# innodb_write_io_threads


# LOGGING #
log_error                      = /mnt/state/var/log/mysql/error.log
log_queries_not_using_indexes  = 0
slow_query_log                 = 1
slow_query_log_file            = /mnt/state/var/log/mysql/mysql-slow.log

# server_id set in /etc/mysql/conf.d/server_id.cnf
# server_id                      = 1
log_bin                        = /mnt/state/var/lib/mysql/mysql-bin
expire_logs_days               = 7
max_binlog_size                = 100M
binlog_format                  = ROW
!includedir /etc/mysql/conf.d/

# PASSTHRU options included last
# will override all previous options
!include    /etc/mysql/passthru.cnf
