[Unit]
Description=Neutron OVS Cleanup Service
Wants=network.service openvswitch-nonetwork.service
After=openvswitch-nonetwork.service
Before=network.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/neutron-ovs-cleanup
User=root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Alias=neutron-ovs-cleanup.service
