
module tripleo-selinux-keepalived 1.0;

require {
	type haproxy_t;
	type nova_api_t;
	type initrc_t;
	type snmpd_t;
	type rabbitmq_epmd_t;
	type dhcpc_t;
	type nova_cert_t;
	type openvswitch_t;
	type nova_conductor_t;
	type auditd_t;
	type systemd_logind_t;
	type httpd_t;
	type cinder_scheduler_t;
	type dnsmasq_t;
	type mysqld_safe_t;
	type rabbitmq_beam_t;
	type getty_t;
	type lvm_t;
	type systemd_hostnamed_t;
	type unconfined_t;
	type sshd_net_t;
	type crond_t;
	type keystone_t;
	type rpcbind_t;
	type init_t;
	type system_cronjob_t;
	type mysqld_t;
	type syslogd_t;
	type rsync_t;
	type swift_t;
	type system_dbusd_t;
	type nova_scheduler_t;
	type cinder_volume_t;
	type cinder_api_t;
	type neutron_t;
	type kernel_t;
	type glance_api_t;
	type mandb_t;
	type cluster_t;
	type nova_console_t;
	type udev_t;
	type glance_registry_t;
	type sshd_t;
	type ntpd_t;
	type keepalived_t;
	type rpcd_t;
	type memcached_t;
	class process signull;
	class capability kill;
	class dir search;
	class file { getattr read open };
}

#============= keepalived_t ==============
# killall denials
# https://bugs.launchpad.net/tripleo/+bug/1379079
# https://bugzilla.redhat.com/show_bug.cgi?id=1145886
allow keepalived_t auditd_t:dir search;
allow keepalived_t auditd_t:file { read getattr open };
allow keepalived_t cinder_api_t:dir search;
allow keepalived_t cinder_api_t:file { read getattr open };
allow keepalived_t cinder_scheduler_t:dir search;
allow keepalived_t cinder_scheduler_t:file { read getattr open };
allow keepalived_t cinder_volume_t:dir search;
allow keepalived_t cinder_volume_t:file { read getattr open };
allow keepalived_t cluster_t:dir search;
allow keepalived_t cluster_t:file { read getattr open };
allow keepalived_t crond_t:dir search;
allow keepalived_t crond_t:file { read getattr open };
allow keepalived_t dhcpc_t:dir search;
allow keepalived_t dhcpc_t:file { read getattr open };
allow keepalived_t dnsmasq_t:dir search;
allow keepalived_t dnsmasq_t:file { read getattr open };
allow keepalived_t getty_t:dir search;
allow keepalived_t getty_t:file { read getattr open };
allow keepalived_t glance_api_t:dir search;
allow keepalived_t glance_api_t:file { read getattr open };
allow keepalived_t glance_registry_t:dir search;
allow keepalived_t glance_registry_t:file { read getattr open };
allow keepalived_t haproxy_t:dir search;
allow keepalived_t haproxy_t:file { read getattr open };
allow keepalived_t haproxy_t:process signull;
allow keepalived_t httpd_t:dir search;
allow keepalived_t httpd_t:file { read getattr open };
allow keepalived_t init_t:file { read getattr open };
allow keepalived_t initrc_t:dir search;
allow keepalived_t initrc_t:file { read getattr open };
allow keepalived_t kernel_t:dir search;
allow keepalived_t kernel_t:file { read getattr open };
allow keepalived_t keystone_t:dir search;
allow keepalived_t keystone_t:file { read getattr open };
allow keepalived_t lvm_t:dir search;
allow keepalived_t lvm_t:file { read getattr open };
allow keepalived_t mandb_t:dir search;
allow keepalived_t mandb_t:file { read getattr open };
allow keepalived_t memcached_t:dir search;
allow keepalived_t memcached_t:file { read getattr open };
allow keepalived_t mysqld_safe_t:dir search;
allow keepalived_t mysqld_safe_t:file { read getattr open };
allow keepalived_t mysqld_t:dir search;
allow keepalived_t mysqld_t:file { read getattr open };
allow keepalived_t neutron_t:dir search;
allow keepalived_t neutron_t:file { read getattr open };
allow keepalived_t nova_api_t:dir search;
allow keepalived_t nova_api_t:file { read getattr open };
allow keepalived_t nova_cert_t:dir search;
allow keepalived_t nova_cert_t:file { read getattr open };
allow keepalived_t nova_conductor_t:dir search;
allow keepalived_t nova_conductor_t:file { read getattr open };
allow keepalived_t nova_console_t:dir search;
allow keepalived_t nova_console_t:file { read getattr open };
allow keepalived_t nova_scheduler_t:dir search;
allow keepalived_t nova_scheduler_t:file { read getattr open };
allow keepalived_t ntpd_t:dir search;
allow keepalived_t ntpd_t:file { read getattr open };
allow keepalived_t openvswitch_t:dir search;
allow keepalived_t openvswitch_t:file { read getattr open };
allow keepalived_t rabbitmq_beam_t:dir search;
allow keepalived_t rabbitmq_beam_t:file { read getattr open };
allow keepalived_t rabbitmq_epmd_t:dir search;
allow keepalived_t rabbitmq_epmd_t:file { read getattr open };
allow keepalived_t rpcbind_t:dir search;
allow keepalived_t rpcbind_t:file { read getattr open };
allow keepalived_t rpcd_t:dir search;
allow keepalived_t rpcd_t:file { read getattr open };
allow keepalived_t rsync_t:dir search;
allow keepalived_t rsync_t:file { read getattr open };
allow keepalived_t self:capability kill;
allow keepalived_t snmpd_t:dir search;
allow keepalived_t snmpd_t:file { read getattr open };
allow keepalived_t sshd_net_t:dir search;
allow keepalived_t sshd_net_t:file { read getattr open };
allow keepalived_t sshd_t:dir search;
allow keepalived_t sshd_t:file { read getattr open };
allow keepalived_t swift_t:dir search;
allow keepalived_t swift_t:file { read getattr open };
allow keepalived_t syslogd_t:dir search;
allow keepalived_t syslogd_t:file { read getattr open };
allow keepalived_t system_cronjob_t:dir search;
allow keepalived_t system_cronjob_t:file { read getattr open };
allow keepalived_t system_dbusd_t:dir search;
allow keepalived_t system_dbusd_t:file { read getattr open };
allow keepalived_t systemd_hostnamed_t:dir search;
allow keepalived_t systemd_hostnamed_t:file { read getattr open };
allow keepalived_t systemd_logind_t:dir search;
allow keepalived_t systemd_logind_t:file { read getattr open };
allow keepalived_t udev_t:dir search;
allow keepalived_t udev_t:file { read getattr open };
allow keepalived_t unconfined_t:dir search;
allow keepalived_t unconfined_t:file { read getattr open };
