
module tripleo-selinux-keepalived 1.0;

gen_require(`
        type haproxy_t;
        type keepalived_t;
        type var_log_t;
        type cloud_var_lib_t;
        type ifconfig_exec_t;
        type init_var_lib_t;
        type var_lib_t;
        class process signull;
        class capability kill;
        class dir { getattr search open read lock ioctl };
        class file { open getattr read ioctl lock execute execute_no_trans };
        class lnk_file { getattr read };
')

#============= keepalived_t ==============
# killall denials
# https://bugs.launchpad.net/tripleo/+bug/1379079
# https://bugzilla.redhat.com/show_bug.cgi?id=1145886
# https://bugzilla.redhat.com/show_bug.cgi?id=1151647

domain_read_all_domains_state(keepalived_t)
allow keepalived_t haproxy_t:process signull;
allow keepalived_t self:capability kill;

# https://bugs.launchpad.net/tripleo/+bug/1416056
# https://bugzilla.redhat.com/show_bug.cgi?id=1187348
allow keepalived_t cloud_var_lib_t:file { read getattr open };
allow keepalived_t ifconfig_exec_t:file { read getattr open execute execute_no_trans };
allow keepalived_t init_var_lib_t:file { read getattr open };
allow keepalived_t var_lib_t:file { read getattr open };
allow keepalived_t var_log_t:file open;
