
module tripleo-selinux-keepalived 1.0;

gen_require(`
        type haproxy_t;
        type keepalived_t;
        class process signull;
        class capability kill;
        class dir { getattr search open read lock ioctl };
        class file { open { getattr read ioctl lock } };
        class lnk_file { getattr read };
')

#============= keepalived_t ==============
# killall denials
# https://bugs.launchpad.net/tripleo/+bug/1379079
# https://bugzilla.redhat.com/show_bug.cgi?id=1145886
# https://bugzilla.redhat.com/show_bug.cgi?id=1151647

domain_read_all_domains_state(keepalived_t)
allow keepalived_t haproxy_t:process signull;
allow keepalived_t self:capability kill;