[
  {kernel,
    [
      {inet_dist_listen_min, 5535},
      {inet_dist_listen_max, 5535},
      {inet_default_listen_options,
        [{nodelay,true}
         ,{sndbuf,65535}
         ,{recbuf,65535}
         ,{{#rabbit.keepalive_disabled}}{keepalive, false}{{/rabbit.keepalive_disabled}}{{^rabbit.keepalive_disabled}}{keepalive, true}{{/rabbit.keepalive_disabled}}
        ]},
      {inet_default_connect_options,
        [{nodelay,true}
         ,{{#rabbit.keepalive_disabled}}{keepalive, false}{{/rabbit.keepalive_disabled}}{{^rabbit.keepalive_disabled}}{keepalive, true}{{/rabbit.keepalive_disabled}}
        ]}
    ]
  },
  {rabbit, [
    {cluster_partition_handling, {{#rabbit.cluster_partition_handling}}{{rabbit.cluster_partition_handling}}{{/rabbit.cluster_partition_handling}}{{^rabbit.cluster_partition_handling}}pause_minority{{/rabbit.cluster_partition_handling}} }
  ]}
].
