[Unit]
Description=Rename all bootloader entries to match the machine-id
DefaultDependencies=no
After=local-fs.target
ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/reset-bls-entries

[Install]
WantedBy=sysinit.target
